#headertext { 
   position: relative; 
   width: 100%; /* for IE 6 */
   background-color:black;
   padding:20px 20px 20px 20px	;
   color:white;
   text-align:center;
}

body{
	padding-left:20px;
	padding-right:20px;
}

#link_bar{
	padding-top:20px;	
	padding-bottom:20px;
}